/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Ubuntu');
/*end fonts*/

body {
  background-color: #121212;
  color: white;
  overflow-y: scroll;
  font-family: 'Ubuntu', sans-serif;
  padding: none;
}

.master {
  padding: 2vw 4vw 3vh 4vw;
  background-color: #202020;
  /*position: absolute;*/
  margin-left: 20vw;
  width: 60vw;
  height: 100%;
  border: solid;
  border-width: .3vw;
  border-color: #151515;
}

#name {
  text-align: center;
  font-size: 9.5vh;
}

#title{
position: relative;
left: 20vw;
font-size: 7vh;
font-style: italic;
font-family: 'Just Another Hand', cursive;
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
width: 15vw;
}

hr {
  display:block;
  border:none;
  color:black;
  height:1px;
  background:white;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(black));
  position: relative;
  top: 2vh;
  left: -2.5vw;
  width: 110%;
}

#about-me {
  margin-top: 5vh;
  /*position: absolute;*/
  left: 5vw;
  width: 50vw;
  text-align: justify;
}

#about-me-header {
  font-size: 3vh;
}

#hidden{
  display: none;
}

.showclass{
  display: show;
}

.bounce-in {
  animation: bounce-in 1s;
}

.portfolio {
  /*position: absolute;*/
  margin-top: 7vh;
}

.current {
  margin-top: 7vh;
}

/*animations*/
@-webkit-keyframes bounce-in {
  from{
    opacity: 0;
    position: absolute;
    top: 25vh;
  }
  to {
    opacity: 1;
    position: absolute;
    top: 30vh;
  }
}
